.icon{
    /* -webkit-box-reflect: below; */
     /* width: 100px; */

     animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



/* @media  (max-width: 500px){
  .jojo{
    font-size: 12px !important;
  }
} */

/* @media (max-width: 300px){
  .about{
    margin-bottom: 50px;
  }
} */

@media (max-width: 700){
  .aboutDes{
    margin-bottom: 100px;
  }
}





