.icon{
    /* -webkit-box-reflect: below; */
     /* width: 100px; */

     animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

/* @media screen 
{
  @media (max-width: 100px) 
  {
    @media (max-height: 500px)
    {
      .description
      {
        margin-bottom: 150px;
      }
    }

  }

}   */



@media (min-height: 320px){

  .portDescription{
    margin-top: 30% !important;
  }
}


/* @media (min-width: 320px){

  .portDescription{
    margin-top: 30% !important;
  }
} */






